@import '../../styles/contants.scss';

.wrapper {
    position: relative;
    z-index: 99;
    opacity: 1;
    transform: none;
    position: sticky;
    top: 0px;
    transition: all 300ms ease;

    ul {
        li {
            list-style: none;

            img {
                height: 40px;
                width: 60px;
            }
        }
    }
}